<!DOCTYPE html>
<html ng-app="blog">
<head>
  <title>My application</title>
  <link rel="stylesheet" media="all" href="css/bootstrap.min.css">
  <link rel="stylesheet" media="all" href="css/custom.css">
 </head>
 <body>
   <div class="container">
     <nav class="navbar navbar-default">
       <div class="container-fluid">
         <div class="navbar-header">
           <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
             <span class="sr-only">Toggle navigation</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
           <a class="navbar-brand" href="">AWJ Base Project</a>
         </div>
 
         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
           <ul class="nav navbar-nav">
              <li><a href="#cl">Client</a></li>
             <li><a href="#ca">Car</a></li>
             <li><a href="#la">Laptop</a></li>
             <li><a href="#bo">Book</a></li> 
           </ul>
         </div>
       </div>
     </nav>
   </div>
 
   <hr/>
 
   <div class="container" >
     <div>
       <h1>{{ helloWorld }}</h1>
       <p>Writing this live into the browser...</p>
     </div>
   </div>
 
   <hr/>
 
   <!-- /clienti -->
   <div class="container" ng-controller="ClientController">
     <h1>Clienti</h1>
     <h2>Listeaza toti clientii</h2>
     <table class="table table-bordered">
       <tr>
			<th ng-repeat="field in fields">{{field | uppercase}}</th>
            <th style="width:210px;">OPTIONS</th>
       </tr>
       <tr ng-repeat="client in clienti" data-id="{{client.id}}">
            <td>{{ client.id }}</td>
            <td>{{ client.name }}</td>
            <td>
                <a href="">
            <span class="label label-success">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
            </span>
                </a>
                <a href="">
                    <button ng-click="setUpdatePerson(client)" class="btn btn-info btn-xs">
                        Edit
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>

                </a>
                <a href="">
                    <button ng-click="deletePersoana(client.id)" class="btn btn-danger btn-xs">
                        Remove
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </a>
            </td>
        </tr>
    </table>

    <div class="row">
        <div class="col-md-3">
            <h2>Editeaza client</h2>

            <form action="" method="">
                <div class="form-group">
                    <label for="attribute1">ID</label>
                    <input type="text" class="form-control" id="attribute1" placeholder="ID" ng-model="editPerson.id">
                </div>
                <div class="form-group">
                    <label for="attribute2">NUME</label>
                    <input type="text" class="form-control" id="attribute2" placeholder="NUME" ng-model="editPerson.name">
                </div>
                <button type="submit" class="btn btn-info" ng-click="updatePerson()">Save</button>
            </form>
        </div>


        <div class="col-md-3 col-md-offset-6">
            <h2>Adauga un client</h2>


                <div class="form-group">
                    <label for="attribute1">ID</label>
                    <input type="text" class="form-control" id="attribute1" placeholder="ID" ng-model="client.id">
                </div>
                <div class="form-group">
                    <label for="attribute2">NUME</label>
                    <input type="text" class="form-control" id="attribute2" placeholder="NUME" ng-model="client.name">
                </div>

                <button ng-click="addPersoana(client)" class="btn btn-success">Add</button>

        </div>
    </div>

</div>

 
   <hr/>
 
   <!-- /cars-->
   <div class="container" nr-controller="CarController">
     <h1 id="ca">Car</h1>
     <h2>List all cars</h2>
     <table class="table table-bordered">
       <tr>
            <th ng-repeat="field in fields">{{field | uppercase}}</th>
            <th style="width:210px;">OPTIONS</th>
        </tr>
       <tr ng-repeat="car in cars" data-id="{{car.id}}">
            <td>{{ car.id }}</td>
            <td>{{ car.brand }}</td>
			<td>{{ car.model }}</td>
            <td>
                <a href="">
            <span class="label label-success">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
            </span>
                </a>
                <a href="">
                    <button ng-click="setUpdateCar(car)" class="btn btn-info btn-xs">
                        Edit
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>

                </a>
                <a href="">
                    <button ng-click="deleteCar(car.id)" class="btn btn-danger btn-xs">
                        Remove
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </a>
            </td>
        </tr>
    </table>
 
    <div class="row">
        <div class="col-md-3">
            <h2>Edit a car</h2>

            <form action="" method="">
                <div class="form-group">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" placeholder="ID" ng-model="editCar.id">
                </div>
                <div class="form-group">
                    <label for="brand">BRAND</label>
                    <input type="text" class="form-control" id="brand" placeholder="BRAND" ng-model="editCar.brand">
                </div>
				<div class="form-group">
                    <label for="model">MODEL</label>
                    <input type="text" class="form-control" id="model" placeholder="MODEL" ng-model="editCar.model">
                </div>
                <button type="submit" class="btn btn-info" ng-click="updateCar()">Save</button>
            </form>
        </div>


        <div class="col-md-3 col-md-offset-6">
            <h2>Add a car</h2>

            <form action="" method="">
                <div class="form-group">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" placeholder="ID" ng-model="car.id">
                </div>
                <div class="form-group">
                    <label for="brand">BRAND</label>
                    <input type="text" class="form-control" id="brand" placeholder="BRAND" ng-model="car.brand">
                </div>
				<div class="form-group">
                    <label for="model">MODEL</label>
                    <input type="text" class="form-control" id="model" placeholder="MODEL" ng-model="car.model">
                </div>

                <button ng-click="addCar(car)" class="btn btn-success">Add</button>
            </form>
        </div>
    </div>

</div>
 
   <hr/>
 
   <div class="container">
     <footer class="footer">
       <p class="text-muted pull-left">AWJ Base Project &copy; 2015-2016</p>
       <p class="text-muted pull-right">Tanase Mihai, 331AB</p>
     </footer>
   </div>
 
   <script src="js/jquery-1.11.3.min.js"></script>
   <script src="js/bootstrap.min.js"></script>
   <script src="js/angular.min.js"></script>
   <script src="js/app.js"></script>
  </body>
</html>